[submodule "mods/factory"]
	path = mods/factory
	url = https://github.com/theFox6/factory
[submodule "mods/weather"]
	path = mods/weather
	url = https://github.com/theFox6/minetest_mod_weather
[submodule "mods/modutil"]
	path = mods/modutil
	url = https://github.com/theFox6/modutil.git
[submodule "mods/neverenoughitems"]
	path = mods/neverenoughitems
	url = https://gitlab.com/trinium-mods/neverenoughitems
[submodule "mods/trinium_api"]
	path = mods/trinium_api
	url = https://gitlab.com/trinium-mods/trinium-api
